.colorOption{

    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: .5rem;    
    background-color:"#1a1a1a"
}

.active{   
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;      
    transition: all 0.3s;
    position: relative;
    
}
.active::after{
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    right: 0;    
    border-top: 2px solid #1a1a1a;
    z-index: 98;
    
}